*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/05/06/21/41/space-755811_960_720.jpg");
  background-size: 100%;
  background-position: center;

  
}

.container {
    text-align: center;
  }
  
  h1 {
    display: inline-block;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    
  }

